#container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
button{
    padding: 1px 15px;
    background-color: aquamarine;
    border: none;
    color: azure;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: aquamarine;
}
button:active{
    background-color: blue;
}
input{
    font-size: 2rem;
    width:150px;
    text-align: center;
    font-weight: bold;
}
#diceImages img{
    width:100px;
    margin: 5px;
}